/*
  green: #91d18b
  white: #fbecec
*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Alata;
}
body {
  background-color: #fbecec;
}

.calc {
  background-color: #91d18b;
  padding-bottom: 5%;
  padding-top: 5%;
}

.machine {
  border-radius: 20px;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  font-size: 5rem;
  background-color: #111;
  font-weight: bold;
  margin-left: 20%;
  margin-right: 20%;

}

#calc__output {
  grid-column: 1 / span 3;
  background-color: #fbecec;
  border-radius: 20px;
  font-size: 2rem;
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calc__button {
  font-weight: bold;
  background-color: #fbecec;
  border-radius: 20px;
  border-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 3rem;
  outline: 0;
  transition: transform 0.3s;
}
.calc__button:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.calc__button:active{
  transform:scale(.9);
}

@media only screen and (max-width: 600px) {
  .machine {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
  [id = '=']{
    order: 12;
    grid-column: span 2;
  }
  [id='1']{
    order:2;
  }
  [id = '2'] {
    order:3;
  }
  [id = '3'] {
    order:4;
  }
  [id = '4'] {
    order:5;
  }
  [id = '5'] {
    order:6;
  }
  [id = '6'] {
    order:7;
  }
  [id = '7'] {
    order:8;
  }
  [id = '8'] {
    order:9;
  }
  [id = '9'] {
    order:10;
  }
  [id = '0'] {
    order:11;
  }
}
