/*
  green: #91d18b
  white: #fbecec
*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Alata;
}

body {
  background-color: #fbecec;
}

.timer {
  height: 70vh;
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.timer-set span:hover {
  cursor: pointer;
}

#start:hover {
  cursor: pointer;
  font-size: 3rem;
  transition: font-size 0.5s;
  position: relative;
}
